.handle__container{
    height: 30vh;
    flex-direction: column;
    justify-content: space-around;
    color: var(--op-bg-color);

    & > div {
        padding: 1rem;
    }

    .icons{
        height: 30%;
        width: 40%;
        text-align: center;
        justify-content: space-evenly;

        i{
            font-size: 1.5rem;
            cursor: pointer;

            &:hover{
                filter: brightness(80%)
            }
        }
    }
    .policy{
        width: 40%;
        height: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a{
            color: var(--op-bg-color);
        }
    }
}

@media only screen and (max-width: 880px){
    .handle__container{
        display: inline-block;
    
        .icons{
            width: 100%;
            justify-content: space-between;
    
            i{
                font-size: 1.2rem;
            }
        }
        .policy{
            display: flex;
            flex-direction: column;
            
            a{
                margin: .3rem;
                display: inline;
                font-size: 1rem;
                white-space: nowrap;
            }
        }
    }
}